<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.renesas.cdt.launch.dsf.gdbsim.launchConfigurationType">
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value="E:/Google Drive/Second Year Engineering/E en E/Computer systems semseter 2/Prakties/2015/Code\gdbGNU.ini"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
<stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="C:\Renesas\e2_studio\DebugComp\rl78-elf-gdb"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.renesas.cdt.launch.dsf.gdbsimdsfdebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\Prac3.x"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="Prac3"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.renesas.cdt.RL78.configuration.hardwaredebug.327915656"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Prac3"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
